/* General */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background: url("../img/background.jpg") repeat fixed;
}

main {
    /* Para que funcione en internet explorer */
    display: block;
    width: 1200px;
}

a {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

h1 {
    font-size: 36px;
    padding: 10px;
}

h1,
h2 {
    text-align: center;
}

p {
    text-indent: 5px;
}

img {
    -moz-force-broken-image-icon: 1;
}

img:-moz-broken {
    background: white;
    background-image: url("../img/imagen_rota.png");
}

iframe {
    margin: 0 auto;
    display: block;
    border: none;
    width: 1200px;
}

iframe[data-name="map"] {
    width: 100%;
    margin: 0;
}

strong {
    font-weight: normal;
}

picture{
    width: 100% !important;
    margin: 0;
    display: block;
    overflow: hidden;
}


/* Header */

header {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: white;
    border-bottom: 1px solid #c8c8c8;
}

header>div {
    display: flex;
    display: -ms-flex;
    align-items: center;
    justify-content: space-between;
}

header>div>a>div {
    background: url('../img/logo.png') no-repeat;
    width: 300px;
    height: 50px;
}

li {
    display: inline-block;
    padding: 0px 4px;
    font-size: 20px;
    font-weight: bold;
}

li a:hover {
    background-color: rgb(0, 128, 0);
    padding: 10px;
    border-radius: 10px;
    color: white !important;
    font-weight: bold;
}


ul li:nth-child(2) {
    position: relative;
    display: inline-block;
}

ul li:nth-child(2):hover ul {
    display: block;
    margin: 0;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

ul li:nth-child(2) ul {
    position: absolute;
    padding-left: 0px;
    display: none;
    margin: 0;
    top: 26px;
    left: 4px;
    z-index: 2;
    background-color: rgb(0, 128, 0);
}

ul li:nth-child(2)>ul li {
    margin: 0px;
    position: relative;
    padding: 10px 2px;
    width: 202px;
    border: 1px solid #ffffff45;
    font-weight: normal;
}

ul li:nth-child(2)>ul li a {
    color: white;
}

ul li:nth-child(2)>ul li a:hover {
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    100% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}



@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}


/* Galeria */

.galeria {
    position: relative;
    width: 100%;
    background: #cfcfcf;
    height: 400px;
}

.galeria .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.galeria .slide.activeslide {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.galeria .slide img {
    z-index: 1;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    height: 400px;
}


/* Contenedor y columnas */

.contenedor {
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0px;
}

.fila {
    display: flex;
    display: -ms-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fila div {
    flex: 0 0 auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    width: 42%;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.fila div .imagen {
    border-radius: 0px;
}

.imagen {
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 10px 0px;
    transition: 1s;
}

main div .imagen:hover {
    transform: scale(1.1);
}

.main-index .imagen:hover {
    transform: none !important;
}


/* Index */

section>div {
    text-align: center;
}

section .fila div h3 {
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

section .fila div p span {
    color: orange;
    font-weight: bold;
}

section .fila div p {
    text-align: left;
    line-height: 30px;
    margin: 0;
}

section .fila {
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black 1px 1px 10px;
    width: 87%;
    margin: 0px auto 30px;
    align-items: center;
    justify-content: space-around;
}

section .fila div {
    width: 46%;
}

section .fila div p a {
    color: rgb(0, 128, 0);
    font-weight: bold;
    padding: 0px;
}

section .fila div p a:hover {
    text-decoration: underline;
}

section .fila div:nth-child(2) {
    margin: 0 auto;
}

div[style="text-align:left;"]>h3{
    background:url("../img/index/icono_mapa.png") no-repeat;
    height: 35px;
    padding-left: 30px;
    padding-top: 12px;
}


/* Animations */

@-webkit-keyframes slide-left {
    from {
        left: -1200px;
    }

    to {
        left: 0;
    }
}

@keyframes slide-left {
    from {
        left: -1200px;
    }

    to {
        left: 0;
    }
}

@-moz-keyframes slide-left {
    from {
        left: -1200px;
    }

    to {
        left: 0;
    }
}

@-ms-keyframes slide-left {
    from {
        left: -1200px;
    }

    to {
        left: 0;
    }
}

@-o-keyframes slide-left {
    from {
        left: -1200px;
    }

    to {
        left: 0;
    }
}

@-webkit-keyframes slide-right {
    from {
        right: -1200px;
    }

    to {
        right: 0;
    }
}

@keyframes slide-right {
    from {
        right: -1200px;
    }

    to {
        right: 0;
    }
}

@-moz-keyframes slide-right {
    from {
        right: -1200px;
    }

    to {
        right: 0;
    }
}

@-ms-keyframes slide-right {
    from {
        right: -1200px;
    }

    to {
        right: 0;
    }
}

@-o-keyframes slide-right {
    from {
        right: -1200px;
    }

    to {
        right: 0;
    }
}


/* Contacto */

textarea {
    resize: none;
}

input,
textarea,
select {
    outline: none;
}

form {
    width: 600px;
    margin: 60px auto;
    animation: slidein 3s;
    -webkit-animation: slidein 3s;
    -moz-animation: slidein 3s;
    -o-animation: slidein 3s;
    -ms-animation: slidein 3s;
}

@keyframes slidein {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slidein {
    from {
        -webkit-transform: translateX(-200%);
    }

    to {
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes slidein {
    from {
        -moz-transform: translateX(-200%);
    }

    to {
        -moz-transform: translateX(0%);
    }
}

@-ms-keyframes slidein {
    from {
        -ms-transform: translateX(-200%);
    }

    to {
        -ms-transform: translateX(0%);
    }
}

@-o-keyframes slidein {
    from {
        -o-transform: translateX(-200%);
    }

    to {
        -o-transform: translateX(0%);
    }
}

fieldset {
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.7);
    color: white;
    border: none;
}

legend {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    animation: legend 5s infinite alternate-reverse cubic-bezier(1, 1, 1, 1);
    -webkit-animation: legend 5s infinite alternate-reverse cubic-bezier(1, 1, 1, 1);
    -moz-animation: legend 5s infinite alternate-reverse cubic-bezier(1, 1, 1, 1);
    -o-animation: legend 5s infinite alternate-reverse cubic-bezier(1, 1, 1, 1);
    -ms-animation: legend 5s infinite alternate-reverse cubic-bezier(1, 1, 1, 1);
}

@keyframes legend {
    0% {
        text-shadow: 2px 2px 1px black;
    }

    25% {
        text-shadow: 2px 2px 1px #11500f;
    }

    50% {
        text-shadow: 2px 2px 1px rgb(19, 117, 19);
    }

    75% {
        text-shadow: 2px 2px 1px #11500f;
    }

    100% {
        text-shadow: 2px 2px 1px black;
    }
}

@-webkit-keyframes legend {
    0% {
        text-shadow: 2px 2px 1px black;
    }

    25% {
        text-shadow: 2px 2px 1px #11500f;
    }

    50% {
        text-shadow: 2px 2px 1px rgb(19, 117, 19);
    }

    75% {
        text-shadow: 2px 2px 1px #11500f;
    }

    100% {
        text-shadow: 2px 2px 1px black;
    }
}

@-moz-keyframes legend {
    0% {
        text-shadow: 2px 2px 1px black;
    }

    25% {
        text-shadow: 2px 2px 1px #11500f;
    }

    50% {
        text-shadow: 2px 2px 1px rgb(19, 117, 19);
    }

    75% {
        text-shadow: 2px 2px 1px #11500f;
    }

    100% {
        text-shadow: 2px 2px 1px black;
    }
}

@-ms-keyframes legend {
    0% {
        text-shadow: 2px 2px 1px black;
    }

    25% {
        text-shadow: 2px 2px 1px #11500f;
    }

    50% {
        text-shadow: 2px 2px 1px rgb(19, 117, 19);
    }

    75% {
        text-shadow: 2px 2px 1px #11500f;
    }

    100% {
        text-shadow: 2px 2px 1px black;
    }
}

@-o-keyframes legend {
    0% {
        text-shadow: 2px 2px 1px black;
    }

    25% {
        text-shadow: 2px 2px 1px #11500f;
    }

    50% {
        text-shadow: 2px 2px 1px rgb(19, 117, 19);
    }

    75% {
        text-shadow: 2px 2px 1px #11500f;
    }

    100% {
        text-shadow: 2px 2px 1px black;
    }
}

fieldset input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

input[type="file"] {
    background-color: #11791e;
}

input[value="Enviar"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #019400;
    background: linear-gradient(45deg, #197209, #60d551);
    background: #197209;
    background: -moz-linear-gradient(top, #197209 0%, #60d551 100%);
    background: -webkit-linear-gradient(top, #197209 0%, #60d551 100%);
    background: linear-gradient(to bottom, #60d551 0%, #197209 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#197209', endColorstr='#60d551', GradientType=0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
    font-weight: bold;
}

input[value="Enviar"]:hover {
    background: linear-gradient(45deg, #197209, #60d551);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#989898+0,c6c6c6+100 */
    background: #60d551;
    /* Old browsers */
    background: -moz-linear-gradient(top, #197209 0%, #60d551 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #197209 0%, #60d551 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #197209 0%, #60d551 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#197209', endColorstr='#60d551', GradientType=0);
    /* IE6-9 */
}


/* Modal */

.contenedor_modal {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    display: none;
}

.modal {
    background-color: white;
    width: 360px;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 1px 1px 10px black;
    text-align: center;
}

.modal ul li {
    padding: 8px;
    width: 340px;
    font-size: 16px;
    word-wrap: break-word;
}

.modal>h2 {
    text-align: center;
    color: rgb(0, 128, 0);
    border-bottom: 1px solid rgb(0, 128, 0);
    padding-bottom: 10px;
}

img[src="img/turismo/modal/cierre.png"] {
    max-width: 100%;
    position: absolute;
    left: 92%;
    top: 2%;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: white !important;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #c8c8c8;
}

footer ul li {
    font-size: 18px;
    font-weight: normal;
}

footer p {
    margin-bottom: 0px;
}

footer a {
    display: inline-block;
    background: url("../img/footer/links.png");
    width: 60px;
    height: 42px;
    margin: 16px 2px;
}

footer a:nth-child(1) {
    background-position: 0px 0px;
}

footer a:nth-child(2) {
    background-position: -61px 0px;
}

footer a:nth-child(3) {
    background-position: -122px 0px;
}

/* Ciudad section */

div[data-name="ciudad"] div img {
    height: 300px;
}

.contenedor_texto {
    position: relative;
}

.eventos {
    display: flex;
    display: -ms-flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    opacity: 0;
    transform: scale(0.4);
    transition: all 2s ease;
    border-radius: 20px;
}

.animacion {
    opacity: 1;
    transform: scale(1);
}

.contenedor .eventos {
    margin: 20px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0px;
    box-shadow: 1px 1px 20px black;
}

.eventos:nth-child(even) {
    flex-direction: row-reverse;
}

.eventos div {
    width: 50%;
    padding: 0px 20px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.eventos div .imagen {
    border-radius: 0px !important;
}

.eventos div h3 {
    text-align: left;
}

.eventos div p {
    text-align: left;
}

div[data-name="alineamiento"] {
    text-align: center;
}

span[lang="pt-BR"] {
    position: static !important;
    padding: 0px !important;
    color: black !important;
    background-color: transparent !important;
}

/* Index */

section:nth-child(1)>div {
    text-align: center;
}

section:nth-child(1)>.fila div h3 {
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

section:nth-child(1)>.fila div p span {
    color: orange;
    font-weight: bold;
}

section:nth-child(1)>.fila div p {
    text-align: left;
    line-height: 30px;
    margin: 0;
}

section:nth-child(1)>.fila {
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black 1px 1px 10px;
    width: 84%;
    margin: 0px auto 30px;
    align-items: center;
    justify-content: flex-start;
}

section:nth-child(1)>.fila div {
    width: 46%;
}

section .fila div p a {
    color: rgb(0, 128, 0);
    font-weight: bold;
    padding: 0px;
}

section:nth-child(1)>.fila div p a:hover {
    text-decoration: underline;
}

section:nth-child(1)>.fila div:nth-child(2) {
    margin: 0 auto;
}


/* Turismo section */

#costanera:target h2 {
    background-color: rgba(128, 0, 0, 0.8) !important;
}

#intereses:target h2 {
    background-color: rgba(128, 0, 0, 0.8) !important;
}

#paseos:target h2 {
    background-color: rgba(128, 0, 0, 0.8) !important;
}

#jardinbotanico:target h2 {
    background-color: rgba(128, 0, 0, 0.8) !important;
}

#rio:target h2 {
    background-color: rgba(128, 0, 0, 0.8) !important;
}

#entretenimiento:target h2 {
    background-color: rgba(128, 0, 0, 0.8) !important;
}

/* Gracias */

.fila-hoteles {
    display: flex;
    display: -ms-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fila-hoteles div {
    position: relative;
    width: 22%;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 1px 1px 20px #7aa87c;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.fila-hoteles div h3 {
    position: absolute;
    top: 60%;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin: 0px;
    border-radius:4px;
    background-color:rgba(0, 128, 0, 0.8);
    left:0;
    font-size: 16px;
}

.fila-hoteles div span{
    position: absolute;
    top: 46%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    left: 0;
    border-radius: 4px;
    margin: 1px;
    font-size: 14px;
}

.fila-hoteles div .imagen{
    border-radius:4px;
}

.fila-hoteles div ul{
    text-align: left;
    margin-top:10px;
    margin-bottom:6px;
}

.fila-hoteles div ul li{
    font-size: 14px;
    word-break: break-all;
    display: block;
}

.fila-hoteles div ul li a{
    padding:0;
}

.fila-hoteles div ul li a:hover{
    color:rgb(0,128,0) !important;
    background-color: transparent;
}

.header-hoteles::before, .header-hoteles::after{
content:"\2605";
color:rgb(0,128,0);
}

.fila-hoteles div h3, .fila-hoteles div span {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.fila-hoteles div:hover h3, .fila-hoteles div:hover span { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}